<% layout("/layout/boilerplate") %>
<div class="container mt-5 text-center">
  <h1><%= status %></h1>
  <p><%= message%></p>
  <a href="/listings" class="btn btn-dark mt-3">Back to Listings</a>
    
</div>